.orchid-background-color {
  background-color: orchid;
}

.ui.borderless.socialmedia.menu {
  box-shadow: none;
  border: none;
  border-radius: 0px;
  margin: 0px;
  background-color: orchid;
}

.ui.borderless.topmenu.menu {
  box-shadow: none;
  border: none;
  border-radius: 0px;
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.ui.icon.menu .item {
  color: white;
}

.wine-background {
  background: url(http://courses.ics.hawaii.edu/ics314f19/morea/ui-frameworks/wod-dvine-glasses.png) no-repeat center center fixed;
  background-size: cover;
}
